@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* defaulting style */

:root{
    --header-bg-color:rgb(0, 132, 253);
    --main-bg-color: #ffffff;
    --secondary-bg-color: rgb(151, 146, 228);
    --card-txt-color: rgb(115, 115, 115);
    --testimonialts-text-color: rgb(239, 238, 251);
    --footer-bg-color: rgb(51, 51, 51);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

body{
    font-family: 'PT sans', sans-serif;
}

a{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

img{
    max-width: 100%;
}

p{
    line-height: 1.5rem;
}

/* utilities */

.container{
    max-width: 350px;
    margin: 0 auto;
    padding: 1rem;
}

.debug{
    border: 1px solid black;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.flex-col{
    display: flex;
    flex-flow: column nowrap;
}

.center{
    text-align: center;
}



/* header */

.desktop-element{
    display: none;
}

header{
    background-color: var(--header-bg-color);
    height: 50px;
}

nav{
    height: 100%;
    align-items: center;
    color: #ffffff;
}

nav img{
    height: 100%;
}

nav i{
   font-size: 1.2rem; 
}

/* main */

.card{
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
.odd-sec{
    background-color: var(--secondary-bg-color);
}

/* section 1 */

#main-features{
    padding-top:2rem;
    padding-bottom: 2rem;
}


#main-features .card{
    background-color: rgb(181, 221, 255);
    border-radius: 10px;
}

#first-card{
    padding-bottom: 0;
}

#main-features .card h3{
    font-size: 1.3rem;
    color: var(--header-bg-color) ;
    margin-bottom: 1.5rem;
}

#main-features .card p{
    color: var(--card-txt-color);
    font-weight: 700;
}

#main-features .card a{
    color: white;
    background-color: var(--header-bg-color);
    padding: .5rem 3rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
}

#main-features .card .button span, i{
    font-weight: 700;
}

#main-features .card img{
    display: block;
    margin: 0 auto;
}

.big-icon{
    color: var(--header-bg-color);
    font-size: 5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
}


/* section 2 styling */
#planning{
    padding: 1rem ;
    color: var(--main-bg-color);
}

#planning .card{
    padding-left: 0;
    padding-right: 0;
}

#planning .card img{
    margin-bottom: 2.5rem;
}

#planning .card h3{
    margin-bottom: 2rem;
    font-size: 1.5rem ;
}

#planning #app-development{
    padding: 1.5rem;
    border-radius: 30px;
    background-color: var(--main-bg-color);
    color: black;
}

#planning #app-development h3{
    margin-bottom: 1rem;
}

.circle{
    margin: 1rem auto;
    width: 40px;
    height: 40px;
    background-color: black;
    position: relative;
    border-radius: 50%;
}

#planning #app-development i{
    font-size: 1rem;
    color: var(--secondary-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* section 3 styling */
#testimonials{
    padding: 3rem 1rem;
}

#testimonials h2{
    margin-bottom: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--footer-bg-color);
}

#testimonials h3{
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--secondary-bg-color);
}

#testimonials>p{
    margin-bottom: 2rem;
}

#testimonials .card{
    background-color: var(--secondary-bg-color);
    color: white;
    padding: 1.5rem;
    border-radius: 30px;
}

.img-container{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.img-container img{
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#testimonials .card p{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#testimonials .card strong{
    text-transform: uppercase;
}

.quotation-marks{
    font-size: 1.8rem;
    position: relative;
    top: .4rem;
    padding: .3rem;
}

/* section 4 styling */
#features{
    padding: 3rem 1rem ;
}
#features .card{
    background-color: var(--main-bg-color);
    border-radius: 10px;
}
#features h2{
    font-size: 1.8rem;
    color: #ffffff;
    margin: 1rem 0 3rem;
}
.number{
    display: block;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--secondary-bg-color);
}
#features h3{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--secondary-bg-color);
}
#features p{
    color: var(--card-txt-color);
    margin-bottom: 1.5rem;
}
#features a{
    background-color: var(--secondary-bg-color);
    padding: .3rem 2rem .4rem;
    border-radius: 15px;
}
#features a span{
    letter-spacing: .3rem;
    font-size: .9rem;
    font-weight: 700;
}

/* section 5 styling */
#about-us{
    padding-top: 4rem;
}

#about-us h2{
    margin-bottom: 3rem;
    color: var(--secondary-bg-color);
}

#about-us p{
    margin-bottom: 3rem;
    line-height: 2rem;
}

#about-us .img-container{
    margin: 0 0 2rem;
    position: relative;
    width: 180px;
    height: 180px;
}

#about-us .quotation-marks{
    line-height: 50px;
    position: absolute;
    right: 0;
    top: 10%;
    font-size: 7rem;
    color: var(--secondary-bg-color);
}

#about-us em{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary-bg-color);
}

